[Unit]
Description=check-power-ha
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/home/chip/workspace/check-power-start.sh
RemainAfterExit=no
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
