[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/workspace/ha-start.sh

[Install]
WantedBy=multi-user.target
