[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/home/chip/workspace/ha-start.sh

[Install]
WantedBy=multi-user.target
